.left{
    text-align: left;
}

.center {
    text-align: center;
    align-items: center;
}

.img1 {
    height: 450px
}

.textwhite {
   text-decoration-color: azure;
}

.kutu1 {
    
    height: 200px;
   
}